<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auth</key>
	<string>Basic (your digest auth key here)</string>
	<key>storage</key>
	<string>https://(your https url to the files here)</string>
	<key>api</key>
	<string>https://(your https url to the file upload api)</string>
</dict>
</plist>
